<form method="POST" action="/calculator">
<h2>Expense Calculator</h2>
    <br>
    <table>
        <tr>
            <th>Employment</th>
            <th>Cost</th>
            <th>Type</th>
            <th>Total</th>
        </tr>
        <br>
        <tr>
            <td>
                <select>
                    <option>Manager</option>
                    <option>Employee</option>
                </select>
            </td>
            <td>
                <input type="text" class="price">
            </td>
            <td>
                <select class="employment">
                    <option value="0"></option>
                    <option value="2080">Full time</option>
                    <option value="1040">Part time</option>
                </select>
            </td>
            <td>
                <input type="text" class="total">
            </td>
        </tr>
        <tr>
            <td>
                <select>
                    <option>Manager</option>
                    <option>Employee</option>
                </select>
            </td>
            <td>
                <input type="text" class="price">
            </td>
            <td>
                <select class="employment">
                    <option value="0"></option>
                    <option value="2080">Full time</option>
                    <option value="1040">Part time</option>

                </select>
            </td>
            <td>
                <input type="text" class="total">
            </td>
        </tr>
        <tr>
            <td>
                <select>
                    <option>Manager</option>
                    <option>Employee</option>
                    ¥
                </select>
            </td>
            <td>
                <input type="text" class="price">
            </td>
            <td>
                <select class="employment">
                    <option value="0"></option>
                    <option value="2080">Full time</option>
                    <option value="1040">Part time</option>

                </select>
            </td>
            <td>
                <input type="text" class="total">
            </td>
        </tr>
        <tr>
            <td align="right" colspan="3"><strong>Total</strong>
            </td>
            <td>
                <input type="text" class="field_total">
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <th>Equipments</th>
            <th>Cost</th>
            <th>Count</th>
            <th>Total</th>
        </tr>
        <tr>
            <td>
                <select>
                    <option>Laptop</option>
                    <option>Phone</option>
                    <option>Room</option>
                </select>
            </td>
            <td>
                <input type="text" class="price">
            </td>
            <td>
                <select class="count">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </td>
            <td>
                <input type="text" class="total">
            </td>
        </tr>
        <tr>
            <td>
                <select>
                    <option>Laptop</option>
                    <option>Phone</option>
                    <option>Rent</option>
                </select>
            </td>
            <td>
                <input type="text" class="price">
            </td>
            <td>
                <select class="count">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </td>
            <td>
                <input type="text" class="total">
            </td>
        </tr>
        <tr>
            <td>
                <select>
                    <option>Laptop</option>
                    <option>Phone</option>
                    <option>Rent</option>
                </select>
            </td>
            <td>
                <input type="text" class="price">
            </td>
            <td>
                <select class="count">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </td>
            <td>
                <input type="text" class="total">
            </td>
        </tr>
        <tr>
            <td align="right" colspan="3"><strong>Total</strong>
            </td>
            <td>
                <input type="text" class="field_total">
            </td>
        </tr>
    </table>

    Total Expenses<input type="text" name="all_total">
    <button id="button">Comfirm</button>

    <script>
        document.addEventListener('change', function (e) {
            let price = document.querySelectorAll('.price');
            let total = document.querySelectorAll('.total');
            let employment = document.querySelectorAll('.employment');
            let count = document.querySelectorAll('.count');
            let field_total = document.querySelectorAll('.field_total');
            let all_total = document.querySelector('input[name=all_total]');

            //1st initial total
            let index0 = 0;

            //2nd initial total
            let index1 = 0;

            //initial value
            let ini_val = 0;

            for (let i = 0; i < 3; i++) {
                index0 += (ini_val = parseInt(price[i].value || 0) * parseInt(employment[i].value || 0));
                total[i].value = price[i].value == "" ? "" : ini_val;
                index1 += (ini_val = parseInt(price[i + 3].value || 0) * parseInt(count[i].value || 0));
                total[i + 3].value = price[i + 3].value == "" ? "" : ini_val;
            }
            field_total[0].value = index0;
            field_total[1].value = index1;

            let button = document.getElementById('button');
            button.addEventListener("click", function (e) {
                e.preventDefault();
                all_total.value = index0 + index1;
            });
        });
    </script>
<br>
<br>
<ul class="navbar-nav">
        <li class="nav-item">
            <a class="btn btn-outline-success" href="/idea">Create an Idea</a>
        </li>
    </ul>
     <br>
        <br>

        <a type="button" class="btn btn-light" onclick="history.back()">Back</a>
        <a type="button" class="btn btn-light" onclick="location.reload(true)">Refresh</a>
        <a type="button" class="btn btn-light" onclick="location.href='http://localhost:3000'">Go to Main</a>
    
</form>