<h2>Log in</h2>
<form method="POST" action="/login">
    {{#if flashes }}
    <div class="alert alert-warning" role="alert">
        {{ flashes }}
    </div>
    {{/if}}
    <br>
    <br>
    <div class="form-group">
        Username: <input name="username" type="text" />
        <br>
        <br>
        Password: <input name="password" type="password" />
    </div>
    <br>

    <a href="#" class="btn btn-outline-info" type="submit">Click to Login</a>
    <br>
    <br>
    <a href="/loginGithub">
        <button class="btn btn-outline-dark">
            Login with Github
            <img style="height:20px; width:20px;"
                src="https://upload.wikimedia.org/wikipedia/commons/e/eb/Ei-sc-github.svg" />
        </button>
        </a>
        <br>
        <br>

        <a type="button" class="btn btn-light" onclick="history.back()">Back</a>
        <a type="button" class="btn btn-light" onclick="location.reload(true)">Refresh</a>
        <a type="button" class="btn btn-light" onclick="location.href='http://localhost:3000'">Go to Main</a>
    

</form>