<h2>Register</h2>
<form method="POST" action="/register">
    <br>
    <br>
    <div class="form-group">
        Username: <input name="username" type="text" />
    </div>
    <div class="form-group">
        Password: <input name="password" type="password" />
    </div>
    <a href="#" class="btn btn-outline-info" type="submit">Register </a>
        <br>
        <br>

        <a type="button" class="btn btn-light" onclick="history.back()">Back</a>
        <a type="button" class="btn btn-light" onclick="location.reload(true)">Refresh</a>
        <a type="button" class="btn btn-light" onclick="location.href='http://localhost:3000'">Go to Main</a>
    
</form>