<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Intrapreneurship Program</title>
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/clickCount-getCount.js"></script>
    <link href="http://.../.../socialbutton-balloon.css" rel="stylesheet" type="text/css">

</head>

<h1>Intrapreneurship Program
    <ul class="nav justify-content-end">
        <li class="nav-item">
            {{ user.username }}
            <a class="btn btn-outline-dark " href="/logout">Logout</a>
        </li>
    </ul>
</h1>

{{{ body }}}
</body>

</html>