<br>
<br>

<a class="btn btn-light" onclick="history.back()">Back</a>
<a class="btn btn-light" onclick="location.reload(true)">Refresh</a>
<a class="btn btn-light" onclick="location.href='http://localhost:3000'">Go to Main</a>