<ul class="navbar-nav">
    <li class="nav-item">
        <a class="btn btn-outline-success" href="/myaccount">Go To My Page</a>
    </li>
</ul>
<br>
<br>
<a type="button" class="btn btn-light" onclick="history.back()">Back</a>
<a type="button" class="btn btn-light" onclick="location.reload(true)">Refresh</a>
<a type="button" class="btn btn-light" onclick="location.href='http://localhost:3000'">Go to Main</a>
<br>
<br>
<pre>
Read the most important take-aways for anyone seriously interested in corporate innovation.

1. Purpose and potential of an intrapreneurship program
Corporates suggest that unleashing your people’s potential could not only be the way to “break the silos” or “read clients faster” but even THE way to survive in business.

a) Business development benefits include developing new business models and revenue streams, shortening time to market or becoming more client-centric by applying lean methodology to corporate projects.

b) At the company culture side intrapreneurship can lead to becoming a more attractive workplace. Entrepreneurial projects can play a role of practical assessment and selection of the most promising talents.

2. Choosing the right people and projects
a) People: It is possible to empower entrepreneurship, but it takes a lot of time and effort to develop entrepreneurial mindset. Not everyone is keen on risk-taking – the most characteristic trait of entrepreneurship.

Managers agree that one should start selecting potential intrapreneurs from the most active volunteers who are known for actively promoting their ideas and/or are have a track record of successful projects delivery.

b) Projects: A company can prepare a shortlist of project areas for people to help with. Some team members may have great sense of ownership and passion for execution, but be less active in having their own ideas.

However, if an idea seems unrelated but does not require a lot of resources, why not give it a try? Magdalena Dziewguć, Google Poland, said: “If we have 60.000 employees spending 20% of their time on pursuing their own ideas, there is a great probability one of those projects will be a really good one”.

3. Support for the intrapreneur (resources, decision-making)
You decided to start the intrapreneurship program. You have people ready to work. What do they need to deliver results?

Provide the three most important resources:
a) time — so people can work on the idea
b) sponsorship from the top management — so it is easier for them to get access to internal teams
c) decision-making power and (a certain level of) acceptance of failure — so they can work on the project without delays and pivot if needed

It is widely discussed whether rewards and recognition work for intrapreneurs. Trevor Owens, the author of “The Lean Enterprise” shows that recognition is a tool that works much better with average employees than those with an entrepreneurial spirit.

4. First steps to launch an intrapreneurship program
We had an interesting discussion whether a intrapreneurship program should be started by the CEO or built bottom up by the team.

The bulletproof code of conduct:
a) Deliver a small successful project on a team level without being noticed.
b) Sell the results to the board.
c) Use CEO support to scale the project company-wide.

Important notice: a program will not work at all if the board shows no interest in open innovation and entrepreneurship whatsoever. If we are not able to force it at the board level, we can… try again or go working with another board in some other company.

5. Managing risk
Corporates are like: I want to do it as the first company, but I need it to be safe and proven in practice. Obviously it is an oxymoron. One cannot play safe and be a player in the area of disruptive innovation. Having that said — what shall we be aware of?

a) Do not let people fall in love with their solution. They should fall in love with the problem.
b) Be aware that if you do not treat an entrepreneurial soul seriously, the soul will leave the corporate body to pursue the idea somewhere else.
c) Internal political game, formal and legal bottlenecks, as well as cowardly board can be killers. Build a secure sandbox for the intrapreneurs before you start.

If you have been thinking about becoming an intrapreneur or starting a corporate entrepreneurship program — now you can do it with more confidence. Take those 5 steps and try walking on the moon yourself. It is a fascinating journey.
 </pre>