<div style="background: url(http://www.line-tatsujin.com/stamp/outline/a30455-0.png) no-repeat 1200px 0px;">
    <div class="content1">

        <h2>Create your idea</h2>
        <a class="btn btn-light" onclick="history.back()">Back</a>
        <a class="btn btn-light" onclick="location.reload(true)">Refresh</a>
        <a class="btn btn-light" onclick="location.href='http://localhost:3000'">Go to Main</a>

        <a class="text-monospace" href="http://localhost:3000/idea"></a>
        <br><br>
        Create your business from here.
        Before create your bussiness model, please read this carefully ⇒ <a href="/howto"
            class="btn btn-outline-primary"><span class="button3">How to start own bussiness within
                company</span></a>
        <br>
        <br>
        <form method="POST" action="/idea">
            <div class="form-group" width="50%">
                Summary: <input class="form-control" name="summary" type="text" />
                <br>
                Description: <textarea rows="10" class="form-control" name="description"></textarea>
                <br>
                If you do not know how much it will cost to start your business, here is a caluculator ⇒ <a href="/calculator"
                    class="btn btn-outline-primary"><span class="button3">Easy to calculate your
                        initial/running cost</span></a>
                <br>
                <br>
                Initial Cost: <input class="form-control" name="initialCost" type="number" />
                <br>
                Monthly Running Cost: <input class="form-control" name="runningCost" type="number" />
                <br>
                Number of month to reach net positive　* 3 months trial period <input class="form-control" name="goalYears" type="number" />
                <br>
                Limit of Participants: <input class="form-control" name="numberOfParticipant" type="text" />
            </div>
            <br>
            <button class="btn btn-info btn-lg btn-block button1" type="submit">Submit</button>
            <br>
        </form>
        
    </div>
</div>