<div style="background: url(http://www.line-tatsujin.com/stamp/outline/a30455-0.png) no-repeat 1200px 0px;">
    <div class="content1">
        <h2>
            Your account has been created successfully! <br>
            Next is Creating an idea to start your own bussiness.
        </h2>

        <br>
        <br>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="btn btn-outline-success" href="/login"><span class="button2">Login from here</span></a>
            </li>
        </ul>
        </form>
        <br>
        <br>

        <a class="btn btn-light" onclick="history.back()">Back</a>
        <a class="btn btn-light" onclick="location.reload(true)">Refresh</a>
        <a class="btn btn-light" onclick="location.href='http://localhost:3000'">Go to Main</a>
    </div>
</div>