<h2>Create your account</h2>
<a type="button" class="btn btn-light" onclick="history.back()">Back</a>
<a type="button" class="btn btn-light" onclick="location.reload(true)">Refresh</a>
<a type="button" class="btn btn-light" onclick="location.href='http://localhost:3000'">Go to Main</a>

<form method="POST" action="/register">
    <br>
    <br>
    <div class="form-group">
        Username: <input name="username" type="text" />
        <br><br>
        Password: <input name="password" type="password" />
    </div>
    <br>
    <button class="btn btn-success button1" type="submit"><span class="button3">Register</span></button>

</form>