body {
    padding: 50px;
    font-size: 2em;
}

#ideas-list {
    border: 2px solid black;
}

.line {
    height: 4px;
    width: 100%;
    background-color: black;
}

a {
    font-family: 'Amatic SC', cursive;
}

button.button1 {
    font-family: 'Amatic SC', cursive;
    border-radius: 3em 0.7em 2em 0.7em/0.7em 2em 0.7em 3em;
    border: 3px solid #ccc;
}

.wrapper {
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
p {
    background: rgb(253, 253, 253);
    border-radius: 3em 0.7em 2em 0.7em/0.7em 2em 0.7em 3em;
    border: 3px solid #ccc;
    padding: 4%;
    width: 1000px;
    margin: 3px;
}

.box1 {
    border: 1px solid #333;
}

.count {
    font-size: 5em;
}

h1 {
    font-family: 'Amatic SC', cursive;
    color: #364e96;
    padding: 0.3em 0;
    border-bottom: double 5px #364e96;
}

h2 {
    font-family: 'Amatic SC', cursive;
    padding: 0.5em;
    font-weight: 1900;
}

h4 {
    font-family: 'Amatic SC', cursive;
    padding: 0.5em;
    font-size: 3em;
    font-weight: bold;
}

.button2 {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 2em;
}

.button3 {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 18px;
}

.button４ {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
}

.minus {
    color: red;
}

.content1 {
    position: relative;
    left: 90px;
}
